<style>
     /* ------------------------------------ */
     /* Links and button
     /* ------------------------------------ */
     #contact      a {
          color: #c4d5e9;
     }
     a {
          color: #7e9643;
     }
     a:hover {
          color: #b1f409;
     }
     /* Header Buttons on Startpage */
     a.btn {
          color: #ffffff;
          background-color: #425364;
     }
     a.btn:hover {
          background-color: #67788a;
     }
     a.fn-item.active {
          color: #b1f409
     }
     a.fn-item:hover {
          color: #deff8b
     }

     /* ------------------------------------ */
     /* Content / Sections
     /* ------------------------------------ */

     .content,
     .post-holder {
          background: #171f29;     
     }
      .post-holder.odd {
          background: #5b6e81;    
     }
     .post-title {
          color: #c4d5e9;
     }
     .post-content {
          color: #5b6e81
     }
     .post-holder.odd .post-content {
          color: #212121;
     }

     .post-holder.odd a {
          color: #91bf1c;
     }

     body,
     .site-footer {
          background-color: #111111;
          color: #425364;
     }

     #site-head-content {          
          background: rgb(0,0,0);
          background: linear-gradient(30deg, rgba(0,0,0,0.7259278711484594) 0%, rgba(255,255,255,0.639093137254902) 43%, rgba(77,77,77,0.5998774509803921) 79%, rgba(193,193,193,0.5998774509803921) 98%);          padding:3em 1em;
          border-radius: 0.5em;
          border: 0px solid rgba(171, 171, 171, 0.438);
          color:black;
     }
     #julien-caulet {
          color: #c4d5e9;
     }



     /* ------------------------------------ */
     /* Post Titles Pages Font
     /* ------------------------------------ */


</style>

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
